<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <META CHARSET="UTF-8">
        <TITLE>TUSAVIRUS</TITLE>
    </HEAD>
    <BODY>
        <H1>Total victims: {{ n }}</H1><BR>
        <P>Counted to date: {{ time }} (UTC)</P>
        <FORM ACTION="/post_data" METHOD="post">
            <P>Jurisdiction: </P><INPUT LIST="jurisdictions" NAME="name">
            <DATALIST ID="jurisdictions">
                {% for jur in jurisdictions %}
                <OPTION VALUE={{ jur }}>
                {% endfor %}
            </DATALIST>
            <BR>
            <P>Sick people: </P><INPUT TYPE="text" NAME="victims"><BR>
            <BR><INPUT TYPE="submit" VALUE="Submit">
        </FORM>
    </BODY>
</HTML>
