<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <META CHARSET="UTF-8">
        <TITLE>JURISDICTIONS</TITLE>
        <LINK REL="icon" TYPE="image/png" HREF="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Proposal_of_coat_of_arms_of_Colombia.svg/200px-Proposal_of_coat_of_arms_of_Colombia.svg.png">
        <META NAME="viewport" CONTENT="width=device-width, initial-scale=1.0">
    </HEAD>
    <BODY>
    <HEADER>
      <DIV><H1>All jurisdictions table</H1></DIV>
    </HEADER>
        <TABLE>
            <TR>
                <TH><H3>Jurisdiction</H3></TH>
                <TH><H3>Number of victims</H3></TH>
                <TH><H3>Last update (UTC)</H3></TH>
            </TR>
            {% for jur in jurisdictions.values()|sort(attribute='name') %}
            <TR>
                <TD><B>{{ jur.name }}</B></TD>
                <TD><B>{{ jur.victims }}</B></TD>
                <TD><B>{{ jur.updated_at }}</B></TD>
            </TR>
            {% endfor %}
        </TABLE>
    </BODY>
    <FOOTER>
        <A HREF="/"><P>Go to home</P></A>
        <A HREF="/jurisdictions"><P>Reload page</P></A>
    </FOOTER>
</HTML>
